@import "tailwindcss";

* {
    font-family: "Inter", sans-serif;
}

.main-container {
    max-width: 1800px;
    margin-inline: auto;
    padding: 0px 25px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}